<article class="lsb_entry is-{{ post.post_type }}" id="post-{{post.ID}}">
	<div class="lsb_entry__header">
		{% if post.thumbnail.src %}
			<img src="{{ post.thumbnail.src | resize(384) }}" class="lsb_entry__thumbail" aria-hidden="true" alt="Image for {{ post.title }}" />
		{% endif %}
		<h1 class="lsb_entry__title">{{ post.title }}</h1>
	</div>
	<div class="lsb_entry__meta">
		{% set taxonomies = [ 
				{ key: 'lsb_tax_author', label: 'Forfatter' }, 
				{ key: 'lsb_tax_illustrator', label: 'Illustratør' },
				{ key: 'lsb_tax_topic', label: 'Tema' },
				{ key: 'lsb_tax_audience', label: 'Tilpasset' },
				{ key: 'lsb_tax_age', label: 'Alder' }
			]
		%}
		<ul>
			{% for tax in taxonomies %}
				{% if post.terms(tax.key) %}
        <li>{{ __(tax.label, 'lsb') }}: {{ post.terms(tax.key) | terms_list(', ', ', ') }}</li>
				{% endif %}
      {% endfor %}
		</ul>
	</div>
	<div class="lsb_entry__body is-content">
		{{ post.content }}
	</div>

	{% for section in post.sections %}
		{% include ['section-'~section.layout~'.twig', 'section.twig'] %}
	{% endfor %}
</article>
