{% extends "entry.twig" %}

{% block entry_content %}
	{{ post.lsb_intro | wpautop }}
	{% if post.lsb_pre_reading %}
		<h2>{{ __('Førlesing', 'lsb') }}</h2>
		{{ post.lsb_pre_reading | wpautop }}
	{% endif %}
	{% if post.lsb_reading %}
		<h2>{{ __('Leseoppdrag', 'lsb') }}</h2>
		{{ post.lsb_reading | wpautop }}
	{% endif %}
	{% if post.lsb_post_reading %}
		<h2>{{ __('Etterlesing', 'lsb') }}</h2>
		{{ post.lsb_post_reading | wpautop }}
	{% endif %}
{% endblock %}
